body {
  font-family: "Handlee", sans-serif;
  font-size: 24px;
  background-color: #f9faf2;
}

.title-bar {
  font-size: 24px;
  background-color: #eee;
  
  border-bottom: 3px solid black;

  border-bottom-left-radius: 225px 15px;
  border-bottom-right-radius: 5px 255px;

  min-height: 54px;
  padding: 0 15px;
}

.title-bar .title {
  display: inline-block;
  font-weight: bold;
}
.title-bar .nav-links {
  display: inline-block;
  float: right;
}

.title-bar .nav-links > * > .anvil-container { margin-top: 0; }

.title-bar .placeholder {
  visibility: hidden;
  border: 2px transparent;
  margin: 5px 0 0;
  padding: 7px;

  border-bottom-left-radius: 225px 15px;
  border-bottom-right-radius: 15px 255px;
  border-top-left-radius: 15px 225px;
  border-top-right-radius: 255px 15px;
}

.anvil-highlight .title-bar .placeholder {
  visibility: visible;
  border: 2px dashed black;  
}

input.form-control, textarea.form-control, select.form-control, .btn {
  box-shadow: none;
  border: 2px solid black;
  
  border-bottom-left-radius: 225px 15px;
  border-bottom-right-radius: 15px 255px;
  border-top-left-radius: 15px 225px;
  border-top-right-radius: 255px 15px;
}

.btn {
  background-image: none;
  padding: 5px 12px;
}

.btn:active, .btn:hover, .btn:focus, .btn:active:focus {
  border-color: black;
  background-image: none;
  background-color: #e3e3e3;
  outline: none;
}

.anvil-role-card, .modal-content {
  border: 2px solid black;
  border-radius: 0;

  border-bottom-left-radius: 185px 25px;
  border-bottom-right-radius: 20px 205px;
  border-top-left-radius: 125px 25px;
  border-top-right-radius: 10px 205px;

  box-shadow: 2px 2px 5px 0 rgba(0,0,0,.2);
  
  padding: 5px 5px 10px;
}

.modal-body {
  font-size: 22px;
}

.anvil-role-heading .label-text {
  font-family: "Patrick Hand SC", sans-serif;
  font-size: 26px;
  padding: 13px 0 0;
}